@import "../../../../App.scss";

.block01 {
 &__wrapper {
  margin-bottom: 30px;
  @include mq(lg, min) {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   margin-bottom: 40px;
  }
 }
 &__description {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.035em;
  color: #fff;
  @include mq(lg, min) {
   font-size: 30px;
   text-align: left;
   flex: 0 0 60%;
   max-width: 60%;
  }
 }
 &__row {
  display: flex;
  flex-wrap: wrap;
  @include mq(sm, min) {
   margin: 0 -10px;
  }
  @include mq(lg, min) {
   padding: 0 15px;
   margin: 0 -15px;
  }
 }
 &__col3 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 30px;
  @include mq(sm, min) {
   flex: 0 0 50%;
   max-width: 50%;
   padding: 0 10px;
  }
  @include mq(lg, min) {
   flex: 0 0 33.33%;
   max-width: 33.33%;
   padding: 0 15px;
  }
 }
}
