@import "../../App.scss";

.resource {
 padding: 60px 0;
 &__title {
  color: #fff;
  font-size: 56px;
  text-align: center;
  margin-bottom: 60px;
 }
 &__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 10px -30px;
  &::after {
   content: "";
   flex: 1;
  }
 }
 &__col {
  flex: 0 0 calc(100% / 4);
  max-width: calc(100% / 4);
  padding: 0 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .product__image {
   width: 270px;
   height: 360px;
  }
 }
}
