@import "../../../App.scss";

footer {
 background-color: $main_color;
}
.footer {
 &__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
 }
 &__logo {
  width: 64px;
  margin-bottom: 20px;
 }
 &__copyright {
  font-size: 12px;
  color: rgb(145, 158, 171);
  text-align: center;
 }
}
