@import "./style/style.scss";
#wrapper {
 min-width: 1200px;
 margin: 0 auto;
 overflow: hidden;
 @include mq(lg, max) {
  min-width: 100%;
 }
}

main {
 position: relative;
 z-index: 10;
 padding-top: 82px;
 @include mq(lg, max) {
  padding-top: 60px;
 }
}
